<header>
    <a href="/" class="logo">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41mNURK9VkL.png">
    </a>
    <ul class="list_news">
        <li><a href="/news" class="active dash-down">Tin Tức</a></li>
        <li><a href="/top" class="dash-down">Top</a></li>
        <li><a href="" class="dash-down">Goal</a></li>
        <li><a href="" class="dash-down">Contact</a></li>
        <li><a href="" class="dash-down">Blog</a></li>
    </ul>

</header>