<div class="mt-4">
    <h3 style="color:#fff">Create Athlete</h3>
    <div class="row" style="color:#fff">
        <form method="POST" action="/top/store">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Story</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="mb-3">
                <label for="imageavata" class="form-label">Avata</label>
                <input type="text" class="form-control" id="imageavata" name="imageavata">
            </div>
            <div class="mb-3">
                <label for="imagebackground" class="form-label">Background</label>
                <input type="text" class="form-control" id="imagebackground" name="imagebackground">
            </div>
            <div class="mb-3">
                <label for="imageslug" class="form-label">Imageslug</label>
                <input type="text" class="form-control" id="imageslug" name="imageslug">
            </div>
            <div class="mb-3">
                <label for="totalmatch" class="form-label">Total Match</label>
                <input type="text" class="form-control" id="totalmatch" name="totalmatch">
            </div>
            <div class="mb-3">
                <label for="goal" class="form-label">Goal</label>
                <input type="text" class="form-control" id="goal" name="goal">
            </div>
            <div class="mb-3">
                <label for="goal_country" class="form-label">Goal Country</label>
                <input type="text" class="form-control" id="goal_country" name="goal_country">
            </div>
            <div class="mb-3">
                <label for="ballon" class="form-label">Ballon</label>
                <input type="text" class="form-control" id="ballon" name="ballon">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>